# Ignore everything by default
*

# Copying the Dockerfile to the container allows us to know how any given
# container was built
!Dockerfile

# Only allow specific files into the build context
# Backend directories
!backend/entities
!backend/logger
!backend/modules
!backend/public
!backend/routes
!backend/views

# Backend files
!backend/app.js
!backend/atlassian-connect.json
!backend/config.json
!backend/package-lock.json
!backend/package.json

# Frontend directories
!frontend/src

# Frontend files
!frontend/.babelrc
!frontend/package-lock.json
!frontend/package.json
!frontend/pom.xml
!frontend/webpack.config.js
