<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>Snyk Auth Page</title>
</head>
<body class="aui-page-hybrid"  style="background: none !important;">
  <script type="text/javascript" src="/dist/bundled.snyk.auth.page.js"></script>
  <div id="maincontainer">
    <div id="container" />
  </div>
</body>
</html>
