{{!< layout}}
<script type="text/javascript" src="/dist/bundled.snyk.account.page.js"></script>
<div id="maincontainer">
        <div id="container">
        </div>
 </div>
  <div class="field-group hidden">
      <input class="text" type="text" id="jwttoken" name="jwttoken" value="{{token}}">
      <input class="text" type="text" id="username" name="username" value="{{username}}">
      <input class="text" type="text" id="currentuserid" name="currentuserid" value="{{currentuserid}}">
   </div>
